<html>
    <body>
        <% include partial/nav.ejs %>
        <strong>Welcome : <%= name %></strong>
        <ul>
            <% hobbies.forEach(function(item){%>
                <li><%= item %></li>
            <%})%>
        </ul>
    </body>
</html>